<div class="navbar-default sidebar" role="navigation">

    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">

            <li>

                <a href="/clientes/"><i class="fa fa-users fa-fw"></i> Clientes</a>

            </li>

            <li>

                <a href="/facturas/"><i class="fa fa-edit fa-fw"></i> Facturas</a>

            </li>

            <li>

                <a href="/productos/"><i class="fa fa-archive fa-fw"></i> Productos</a>

            </li>

            <li>

                <a href="/empleados/"><i class="fa fa-user fa-fw"></i> Empleados</a>

            </li>

            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Reportes<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/reporte_facturacion/"><i class="fa fa-line-chart fa-fw"></i> Facturación</a>
                    </li>
                    <li>
                        <a href="/reporte_horarios/"><i class="fa fa-calendar fa-fw"></i> Horarios</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>

    </div>

    <!-- /.sidebar-collapse -->

</div>